.DS_Store
# python env for benching
env
# binaries
correlation
xor
adder
iris
full_adder
lin_reg
mnist_conv_tiny
bench_mul
mnist
autodiff
mnist_conv
mnist_vanilla
mnist_mix
gs_forward
# model save files
model
# ignore file of youtube demo
resources/youtube_demo.mov
# ignore large datasets
./datasets
