.DS_Store
# python env for benching
env
# binaries
xor
adder
iris
full_adder
lin_reg
bench_mul
mnist
# model save files
model
adder_model
lin_reg_model
mnist_model
# ignore file of youtube demo
resources/youtube_demo.mov
# ignore large datasets
./datasets