.DS_Store
# python env for benching
env
# binaries
xor
adder
iris
full_adder
lin_reg
bench_mul
mnist
autodiff
convolution
mnist_conv
mnist_mlp
mnist_mix
# model save files
model
# ignore file of youtube demo
resources/youtube_demo.mov
# ignore large datasets
./datasets